In [1]:
#IMPORTING REQUIRED LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#READING THE DATA
data=pd.read_csv('C:\\Users\\hp\\Desktop\\ELDHOSE VARGHESE(DS)\\Recruitment\\circus_social\\Twitter.csv')
data.head()

,USERID,ID,Post Contet,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Media Type,Published DateTime,Mentions Count,Post author verified,Likes,Shares,Comments,Impact
0,41370,6d967b125fcecba6357dbc43f8f380cf2d6d7a51,Sana all na lang.,0.0,17,0,0,1660,133,0,TEXT,2021-01-28 12:17:24+00:00,0,0,0,0,0,0
1,27955,22dc5f808a8589186767412f39e5c88ae9753d04,キスマイ玉森裕太「ボス恋」台本の裏話明かす\n\n@TBS_asachan @bosskoi...,19.3,84,0,1,318924,1428273,5454,TEXT,2021-02-24 06:51:02+00:00,0,1,10,1,0,110
2,38151,7f224e66ad757e3066d45947881bcaab91f8e57f,SuperM’s album isn’t even out yet and there’s ...,0.0,78,0,0,39976,1560,0,TEXT,2020-09-15 01:16:32+00:00,0,0,0,0,0,0
3,13558,5acc220e7a337efafc4c847b7f74680ca2515890,மத்திய அரசின் நலத்திட்டங்களை மக்களுக்கு சென்று...,0.0,284,2,0,8045,27191,26,TEXT,2021-02-14 03:53:53+00:00,0,1,460,219,4,6830
4,17071,863abf834897a06afdc459788b34abeae6298f3a,【熊本県人吉市】球磨川氾濫後のくま川鉄道の線路被害状況 hamusoku.com/archi...,-20.0,80,0,1,210996,2385,0,IMAGE,2020-07-04 13:06:16+00:00,0,0,0,0,0,0

### Exploratory Data Analysis

In [3]:
data.shape

(50000, 18)

In [4]:
data.describe()

,USERID,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Mentions Count,Post author verified,Likes,Shares,Comments,Impact
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,5.000000e+04,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.0000,50000.000000,50000.000000,50000.000000
mean,14193.578860,1.068916,154.692360,0.687520,0.480260,2.414257e+05,4.648759e+06,10069.683200,0.113720,0.626480,3020.7063,966.773260,16.407920,40038.735600
std,10363.500433,10.436746,79.099411,1.346979,0.526019,1.607467e+06,1.254513e+07,28384.958681,0.512984,0.483743,8261.9454,3117.212706,543.669304,103075.779094
min,0.000000,-20.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
25%,6017.000000,0.000000,94.000000,0.000000,0.000000,1.123775e+04,1.053900e+04,2.000000,0.000000,0.000000,1.0000,0.000000,0.000000,10.000000
50%,12076.500000,0.000000,142.000000,0.000000,0.000000,5.273800e+04,3.551225e+05,555.500000,0.000000,1.000000,153.0000,42.000000,0.000000,2100.000000
75%,20650.250000,0.000000,215.000000,1.000000,1.000000,2.595015e+05,2.809978e+06,6171.000000,0.000000,1.000000,1909.0000,559.000000,0.000000,27500.000000
max,43879.000000,20.000000,373.000000,21.000000,7.000000,5.044408e+07,1.144406e+08,568139.000000,12.000000,1.000000,90919.0000,79671.000000,66939.000000,997980.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USERID                50000 non-null  int64
 1   ID                    50000 non-null  object
 2   Post Contet           50000 non-null  object
 3   Sentiment score       50000 non-null  float64
 4   Post Length           50000 non-null  int64
 5   Hashtag count         50000 non-null  int64
 6   Content URL count     50000 non-null  int64
 7   Tweet count           50000 non-null  int64
 8   Followers count       50000 non-null  int64
 9   Listed Count          50000 non-null  int64
 10  Media Type            50000 non-null  object
 11  Published DateTime    50000 non-null  object
 12  Mentions Count        50000 non-null  int64
 13  Post author verified  50000 non-null  int64
 14  Likes                 50000 non-null  int64
 15  Shares                50000 non-null  int64
 16  Comments              50000 non-null  int64
 17  Impact                50000 non-null  int64
dtypes: float64(1), int64(13), object(4)
memory usage: 6.9+ MB

There is no NULL values

In [6]:
data.nunique()

USERID                  27991
ID                      47512
Post Contet             47429
Sentiment score          2100
Post Length               329
Hashtag count              21
Content URL count           8
Tweet count             39328
Followers count         39024
Listed Count            13950
Media Type                  3
Published DateTime      47412
Mentions Count             13
Post author verified        2
Likes                    9525
Shares                   5535
Comments                  465
Impact                  10809
dtype: int64

There are some duplicate records.
The records are uniquely identified by the attribute 'ID' which is the tweet URL.

In [7]:
data['ID'].value_counts()

40a5f17764aab086fb621ee3dd8d9e083b668882    4
714f2a7090c238f9ccfadac987959a0cfea28c45    4
98b59c2a4b9fbe22961d554d0c84fd37e0b593a0    4
7cf2c2fb4444498baaa2815060e1cb6cbff5a41b    4
6187ee9b5c10fdb306a57622ea4befc2849b9a1c    4
                                           ..
cc76fdb7dee80c1f30c8dab1b23e58d01ee443d6    1
aad4b1976d6da9da3dee9ad699f1fd718e399c5b    1
1beee81b46771707387822c956a188d1806144ab    1
1780f86161db8612fd2a4a3ac5caf2b8b85dcfe8    1
414dd6ccfbac7dbc5c70db0e8e08b4c335981a2d    1
Name: ID, Length: 47512, dtype: int64

In [8]:
data[data['ID']=='facf15daa1a6141b156fd4c59c1736585c3b43f8']

,USERID,ID,Post Contet,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Media Type,Published DateTime,Mentions Count,Post author verified,Likes,Shares,Comments,Impact
3267,6162,facf15daa1a6141b156fd4c59c1736585c3b43f8,Our top priority should be to organise and coo...,0.0,208,0,0,17898,299199,195,IMAGE,2020-04-24 21:38:34+00:00,0,1,7975,2977,0,109520
14399,5434,facf15daa1a6141b156fd4c59c1736585c3b43f8,Our top priority should be to organise and coo...,0.0,208,0,0,17898,299199,195,IMAGE,2020-04-24 21:38:34+00:00,0,1,7975,2977,0,109520
16296,7025,facf15daa1a6141b156fd4c59c1736585c3b43f8,Our top priority should be to organise and coo...,0.0,208,0,0,17898,299199,195,IMAGE,2020-04-24 21:38:34+00:00,0,1,7975,2977,0,109520
41647,1046,facf15daa1a6141b156fd4c59c1736585c3b43f8,Our top priority should be to organise and coo...,0.0,208,0,0,17898,299199,195,IMAGE,2020-04-24 21:38:34+00:00,0,1,7975,2977,0,109520

In [9]:
#REMOVING THE DUPLICATE RECORDS
data.drop_duplicates(subset='ID',keep='first',inplace=True)

In [10]:
data['ID'].value_counts()

f6dcb69e11fb49933a87fd58119833718210c0b6    1
9b2281a7a38515c235105ef3430e4adb459c433b    1
a03fd7bf174424b5a141219fe852f609c3dc7551    1
886e3a219bd25977ba5eaa4469f574c8b3eb1073    1
d9de1814b72b19dd6c4479ad82a833652a454d32    1
                                           ..
7ddcb63e0028c50c96b61047d40c6f96cbfe5a0c    1
a3997742bac1d59c1bf78f250213666f96c509bb    1
54649cd9b7a586afee9ea13c2fbfa77d1f235af1    1
c2bf141464bd0bb1431c45cf1f2bdbc6f41d9502    1
414dd6ccfbac7dbc5c70db0e8e08b4c335981a2d    1
Name: ID, Length: 47512, dtype: int64

In [11]:
data[data['ID']=='facf15daa1a6141b156fd4c59c1736585c3b43f8']

,USERID,ID,Post Contet,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Media Type,Published DateTime,Mentions Count,Post author verified,Likes,Shares,Comments,Impact
3267,6162,facf15daa1a6141b156fd4c59c1736585c3b43f8,Our top priority should be to organise and coo...,0.0,208,0,0,17898,299199,195,IMAGE,2020-04-24 21:38:34+00:00,0,1,7975,2977,0,109520

In [12]:
data.shape

(47512, 18)

There are 47512 unique records and 2488 duplicate records

In [13]:
df=data.copy()
df.head()

,USERID,ID,Post Contet,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Media Type,Published DateTime,Mentions Count,Post author verified,Likes,Shares,Comments,Impact
0,41370,6d967b125fcecba6357dbc43f8f380cf2d6d7a51,Sana all na lang.,0.0,17,0,0,1660,133,0,TEXT,2021-01-28 12:17:24+00:00,0,0,0,0,0,0
1,27955,22dc5f808a8589186767412f39e5c88ae9753d04,キスマイ玉森裕太「ボス恋」台本の裏話明かす\n\n@TBS_asachan @bosskoi...,19.3,84,0,1,318924,1428273,5454,TEXT,2021-02-24 06:51:02+00:00,0,1,10,1,0,110
2,38151,7f224e66ad757e3066d45947881bcaab91f8e57f,SuperM’s album isn’t even out yet and there’s ...,0.0,78,0,0,39976,1560,0,TEXT,2020-09-15 01:16:32+00:00,0,0,0,0,0,0
3,13558,5acc220e7a337efafc4c847b7f74680ca2515890,மத்திய அரசின் நலத்திட்டங்களை மக்களுக்கு சென்று...,0.0,284,2,0,8045,27191,26,TEXT,2021-02-14 03:53:53+00:00,0,1,460,219,4,6830
4,17071,863abf834897a06afdc459788b34abeae6298f3a,【熊本県人吉市】球磨川氾濫後のくま川鉄道の線路被害状況 hamusoku.com/archi...,-20.0,80,0,1,210996,2385,0,IMAGE,2020-07-04 13:06:16+00:00,0,0,0,0,0,0

In [14]:
df.shape

(47512, 18)

In [15]:
#FINDING THE CORRELATION OF ALL INDEPENDANT FEATURES WITH THE DEPENDANT FEATURE
df.corr()['Impact']

USERID                 -0.214531
Sentiment score         0.043233
Post Length             0.046870
Hashtag count          -0.028299
Content URL count      -0.131320
Tweet count            -0.005352
Followers count         0.260886
Listed Count            0.117122
Mentions Count         -0.023160
Post author verified    0.133973
Likes                   0.965055
Shares                  0.734762
Comments                0.072931
Impact                  1.000000
Name: Impact, dtype: float64

In [16]:
#FEATURE SELECTION(removing the irrelevant features)
df=df.drop(['USERID','ID','Post Contet','Published DateTime'],axis=1)

In [17]:
df.head(5)

,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Media Type,Mentions Count,Post author verified,Likes,Shares,Comments,Impact
0,0.0,17,0,0,1660,133,0,TEXT,0,0,0,0,0,0
1,19.3,84,0,1,318924,1428273,5454,TEXT,0,1,10,1,0,110
2,0.0,78,0,0,39976,1560,0,TEXT,0,0,0,0,0,0
3,0.0,284,2,0,8045,27191,26,TEXT,0,1,460,219,4,6830
4,-20.0,80,0,1,210996,2385,0,IMAGE,0,0,0,0,0,0

In [18]:
#CONVERTING CATEGORIAL FEATURE "Media Type" INTO NUMERIC 
dummy = pd.get_dummies(df['Media Type'],drop_first=True)
dummy.head()

   TEXT  VIDEO
0     1      0
1     1      0
2     1      0
3     1      0
4     0      0

In [19]:
df = pd.concat([df,dummy],axis=1)
df.head()

,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Media Type,Mentions Count,Post author verified,Likes,Shares,Comments,Impact,TEXT,VIDEO
0,0.0,17,0,0,1660,133,0,TEXT,0,0,0,0,0,0,1,0
1,19.3,84,0,1,318924,1428273,5454,TEXT,0,1,10,1,0,110,1,0
2,0.0,78,0,0,39976,1560,0,TEXT,0,0,0,0,0,0,1,0
3,0.0,284,2,0,8045,27191,26,TEXT,0,1,460,219,4,6830,1,0
4,-20.0,80,0,1,210996,2385,0,IMAGE,0,0,0,0,0,0,0,0

In [20]:
df=df.drop(['Media Type'],axis=1)

In [21]:
df.head()

,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Mentions Count,Post author verified,Likes,Shares,Comments,Impact,TEXT,VIDEO
0,0.0,17,0,0,1660,133,0,0,0,0,0,0,0,1,0
1,19.3,84,0,1,318924,1428273,5454,0,1,10,1,0,110,1,0
2,0.0,78,0,0,39976,1560,0,0,0,0,0,0,0,1,0
3,0.0,284,2,0,8045,27191,26,0,1,460,219,4,6830,1,0
4,-20.0,80,0,1,210996,2385,0,0,0,0,0,0,0,0,0

In [22]:
 df.iloc[:, :-3]

,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Mentions Count,Post author verified,Likes,Shares,Comments
0,0.0,17,0,0,1660,133,0,0,0,0,0,0
1,19.3,84,0,1,318924,1428273,5454,0,1,10,1,0
2,0.0,78,0,0,39976,1560,0,0,0,0,0,0
3,0.0,284,2,0,8045,27191,26,0,1,460,219,4
4,-20.0,80,0,1,210996,2385,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
49994,0.0,171,2,0,9694,92163,1103,0,1,1505,484,0
49995,0.0,107,0,1,58592,61369,0,0,0,0,0,0
49996,0.0,123,0,1,69967,37227,0,0,0,0,0,0
49997,0.0,226,0,1,1587,40,0,0,0,0,0,0
49999,0.0,250,7,1,5991,4385,0,0,0,0,0,0

In [23]:
df.iloc[:, 13:]

       TEXT  VIDEO
0         1      0
1         1      0
2         1      0
3         1      0
4         0      0
...     ...    ...
49994     0      1
49995     1      0
49996     1      0
49997     1      0
49999     0      0

[47512 rows x 2 columns]

##### SPLITTING THE INDEPENDANT AND DEPENDANT FEATURES

In [24]:
X = pd.concat([df.iloc[:, :-3],df.iloc[:, 13:]],axis=1)
X

,Sentiment score,Post Length,Hashtag count,Content URL count,Tweet count,Followers count,Listed Count,Mentions Count,Post author verified,Likes,Shares,Comments,TEXT,VIDEO
0,0.0,17,0,0,1660,133,0,0,0,0,0,0,1,0
1,19.3,84,0,1,318924,1428273,5454,0,1,10,1,0,1,0
2,0.0,78,0,0,39976,1560,0,0,0,0,0,0,1,0
3,0.0,284,2,0,8045,27191,26,0,1,460,219,4,1,0
4,-20.0,80,0,1,210996,2385,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,0.0,171,2,0,9694,92163,1103,0,1,1505,484,0,0,1
49995,0.0,107,0,1,58592,61369,0,0,0,0,0,0,1,0
49996,0.0,123,0,1,69967,37227,0,0,0,0,0,0,1,0
49997,0.0,226,0,1,1587,40,0,0,0,0,0,0,1,0
49999,0.0,250,7,1,5991,4385,0,0,0,0,0,0,0,0

In [25]:
Y=df['Impact']
Y

0            0
1          110
2            0
3         6830
4            0
         ...
49994    19890
49995        0
49996        0
49997        0
49999        0
Name: Impact, Length: 47512, dtype: int64

In [26]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

### 1.linear regression model

In [27]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [28]:
# Predicting the Test set results
Y_pred = regressor.predict(X_test)

In [29]:
# Comparing Actual vs Predicted
comparison=pd.DataFrame({'Actual_ImpactScore':Y_test,'Predicted_ImpactScore':Y_pred})
comparison

       Actual_ImpactScore  Predicted_ImpactScore
40862               53710           53709.636236
36930              115350          115349.973333
45652              394030          394030.011159
22197                   0              -0.089022
49343                  10              10.169770
...                   ...                    ...
1273                 2690            2689.983678
38247                 110             109.818778
39141                9920            9919.670011
18009                  10               9.671666
49984               84380           84379.929552

[9503 rows x 2 columns]

The metric used for model evaluation is mean absolute error and r2 score

In [30]:
from sklearn import metrics
from sklearn.metrics import r2_score
print('Mean Absolute Error:',metrics.mean_absolute_error(Y_test,Y_pred))
print('R2 score:',r2_score(Y_test,Y_pred))

Mean Absolute Error: 0.357456691355314
R2 score: 0.999999986202577

### 2.Decision Tree Model

In [31]:
import sklearn
from sklearn.tree import DecisionTreeRegressor

In [32]:
clf = DecisionTreeRegressor(random_state=0)
clf.fit(X_train,Y_train)

DecisionTreeRegressor(random_state=0)

In [33]:
Y_pred=clf.predict(X_test)

In [34]:
# Comparing Actual vs Predicted
comparison=pd.DataFrame({'Actual_ImpactScore':Y_test,'Predicted_ImpactScore':Y_pred})
comparison

       Actual_ImpactScore  Predicted_ImpactScore
40862               53710                53150.0
36930              115350               116210.0
45652              394030               403810.0
22197                   0                    0.0
49343                  10                   10.0
...                   ...                    ...
1273                 2690                 2700.0
38247                 110                  110.0
39141                9920                10010.0
18009                  10                   10.0
49984               84380                83620.0

[9503 rows x 2 columns]

In [35]:
print('Mean Absolute Error:',metrics.mean_absolute_error(Y_test,Y_pred))
print('R2 score:',r2_score(Y_test,Y_pred))

Mean Absolute Error: 768.02904345996
R2 score: 0.9982996468126938

### 3.XGBoost

In [31]:
import xgboost
classifier=xgboost.XGBRegressor()
classifier.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [32]:
Y_pred=classifier.predict(X_test)

In [33]:
# Comparing Actual vs Predicted
comparison=pd.DataFrame({'Actual_ImpactScore':Y_test,'Predicted_ImpactScore':Y_pred})
comparison

       Actual_ImpactScore  Predicted_ImpactScore
40862               53710           53809.984375
36930              115350          116236.085938
45652              394030          384639.250000
22197                   0               8.251691
49343                  10              32.999126
...                   ...                    ...
1273                 2690            2583.143311
38247                 110              78.488312
39141                9920           10308.138672
18009                  10               3.370090
49984               84380           83519.703125

[9503 rows x 2 columns]

In [34]:
print('Mean Absolute Error:',metrics.mean_absolute_error(Y_test,Y_pred))
print('R2 score:',r2_score(Y_test,Y_pred))

Mean Absolute Error: 676.1762715063384
R2 score: 0.9988424744727606

### 4.XGBoost (Hyper Parameter Optimization)

In [39]:
import xgboost
regressor=xgboost.XGBRegressor()

In [40]:
## Hyper Parameter Optimization


n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]
base_score=[0.25,0.5,0.75,1]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [41]:
# Set up the random search with 4-fold cross validation
random_cv = RandomizedSearchCV(estimator=regressor,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = 4,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

In [42]:
random_cv.fit(X_train,Y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:  1.2min
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed: 15.7min
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed: 33.3min
[Parallel(n_jobs=4)]: Done 250 out of 250 | elapsed: 48.4min finished

[15:31:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "max_depth", "min_child_weight" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

RandomizedSearchCV(cv=5,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n...
                                          validate_parameters=None,
                                          verbosity=None),
                   n_iter=50, n_jobs=4,
                   param_distributions={'base_score': [0.25, 0.5, 0.75, 1],
                                        'booster': ['gbtree', 'gblinear'],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2],
                                        'max_depth': [2, 3, 5, 10, 15],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': [100, 500, 900, 1100,
                                                         1500]},
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_absolute_error', verbose=5)

In [45]:
random_cv.best_estimator_

XGBRegressor(base_score=0.75, booster='gblinear', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.15, max_delta_step=None, max_depth=5,
             min_child_weight=2, missing=nan, monotone_constraints=None,
             n_estimators=900, n_jobs=4, num_parallel_tree=None, random_state=0,
             reg_alpha=0, reg_lambda=0, scale_pos_weight=1, subsample=None,
             tree_method=None, validate_parameters=1, verbosity=None)

In [46]:
regressor=xgboost.XGBRegressor(base_score=0.75, booster='gblinear', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.15, max_delta_step=None, max_depth=5,
             min_child_weight=2, missing=None, monotone_constraints=None,
             n_estimators=900, n_jobs=4, num_parallel_tree=None, random_state=0,
             reg_alpha=0, reg_lambda=0, scale_pos_weight=1, subsample=None,
             tree_method=None, validate_parameters=1, verbosity=None)

In [47]:
regressor.fit(X_train,Y_train)

[15:37:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "max_depth", "min_child_weight" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBRegressor(base_score=0.75, booster='gblinear', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.15, max_delta_step=None, max_depth=5,
             min_child_weight=2, missing=None, monotone_constraints=None,
             n_estimators=900, n_jobs=4, num_parallel_tree=None, random_state=0,
             reg_alpha=0, reg_lambda=0, scale_pos_weight=1, subsample=None,
             tree_method=None, validate_parameters=1, verbosity=None)

In [48]:
Y_pred=regressor.predict(X_test)

In [49]:
# Comparing Actual vs Predicted
comparison=pd.DataFrame({'Actual_ImpactScore':Y_test,'Predicted_ImpactScore':Y_pred})
comparison

       Actual_ImpactScore  Predicted_ImpactScore
40862               53710           53709.632812
36930              115350          115349.953125
45652              394030          394029.875000
22197                   0              -0.070107
49343                  10              10.162526
...                   ...                    ...
1273                 2690            2689.992676
38247                 110             109.830467
39141                9920            9919.669922
18009                  10               9.690787
49984               84380           84379.921875

[9503 rows x 2 columns]

In [50]:
print('Mean Absolute Error:',metrics.mean_absolute_error(Y_test,Y_pred))
print('R2 score:',r2_score(Y_test,Y_pred))

Mean Absolute Error: 0.3519495696324527
R2 score: 0.9999999862022864